/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/autoscan.log
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/.deps/*
/src/.deps/*
*.o
/src/timeoutd
/src/Makefile
/src/Makefile.in
/stamp-h1
